@import './buttons.css';


html{
    cursor: pointer;
  }
  body{
    background-color: transparent;
    overflow:hidden;
    height: 100%;
    }


 .renders {
  
    width: auto;
    height:97vh;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
        
        .control{
            width:25px;
            height:25px;
            background-size: 100%;
            background-position: center;
            background-repeat: no-repeat;
            margin-left:5px;
            margin-right:5px;
            cursor:pointer;
            -webkit-transition: background-image 0.7s; /* Safari */
            transition: background-image 0.7s;
        }

.turn-container{
    margin-left: auto;
    margin-right: auto;
}
        .turn-message{
            display:none;
            color:white;
            width:100%;
            height:100%;
            text-align: center;
            margin-top:calc(42vh - 1rem); 
       
        }
        .view{

            display: block;
        }


@media only screen and (min-device-width: 320px) and (orientation: portrait) {
    .turn-message{
    display:block;
    }

    .view{
    display:none;
    }


    }


    @media screen and (max-width: 500px) /* Mobile */ {
   .turn-message{
    display:block;

    }
      .view{
    display:none;
    }
}